body {
    background-color: #121212;
    color: #fff;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.dropzone {
    border: 2px dashed #aaa;
    padding: 20px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}

.selected-image-preview {
    margin-top: 20px;
    img {
        max-width: 100%;
        max-height: 200px;
        border-radius: 8px;
    }
}

.upload-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;

}

.upload-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.upload-button.success {
    background-color: #2ecc71;
}

.upload-success-indicator {
    color: #2ecc71;
    font-size: 18px;
    margin-top: 10px;
}

.results-container {
    margin-top: 20px;
    text-align: center;
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        font-size: 16px;
    }
}
.shining-text {
    background: linear-gradient(90deg, #ffeb3b, #f44336);
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
}


.plant-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.plant {
    width: 20px; /* Adjust the width as needed */
    height: 0;
    margin: 0 5px;
    border-radius: 5px;
    background: green;
}
